@import "../../global_sass/variables"

.related-metric
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    padding: .5rem 1rem
    border: 1px solid $green
    box-sizing: border-box
    font-family: Inter
    font-weight: bold
    color: $white
    width: 21rem

    .related-metric__num
        font-style: italic
        font-size: 1.75rem
        line-height: 3.25rem
        display: flex
        align-items: center

    .related-metric__name
        font-size: 1.5rem
        line-height: 1.75rem
        display: flex
        align-items: center
