@import "../../../../global_sass/variables"

.category
    border: .06rem solid $green
    padding: .5rem 1rem
    color: $dark
    display: flex
    flex-direction: row
    align-items: center

    .category__num
        display: flex
        align-items: center
        margin-right: 1.5rem

    .category__name
        display: flex
        align-items: center
