.animate__animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-duration: var(1s);
          animation-duration: var(1s);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate__slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.animate__fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
}

.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.animate__animated.animate__delay-2s {
  -webkit-animation-delay: calc(var($animate-delay) * 1.2);
          animation-delay: calc(var($animate-delay) * 1.2);
}

.animate__animated.animate__delay-3s {
  -webkit-animation-delay: calc(var($animate-delay) * 1.4);
          animation-delay: calc(var($animate-delay) * 1.4);
}

.animate__animated.animate__delay-4s {
  -webkit-animation-delay: calc(var($animate-delay) * 1.6);
          animation-delay: calc(var($animate-delay) * 1.6);
}

.animate__animated.animate__delay-5s {
  -webkit-animation-delay: calc(var($animate-delay) * 2);
          animation-delay: calc(var($animate-delay) * 2);
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
            transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
            transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
            transform: translate3d(0, 15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
            transform: translate3d(0, 15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
/*# sourceMappingURL=animations.css.map */