@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
body {
  font-family: 'Inter', sans-serif;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 3.333333rem;
  line-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.metric {
  padding: 1.33rem .67rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 38, 51, 0)), to(rgba(30, 38, 51, 0.24)));
  background: linear-gradient(180deg, rgba(30, 38, 51, 0) 0%, rgba(30, 38, 51, 0.24) 100%);
  -webkit-backdrop-filter: blur(2.67rem);
          backdrop-filter: blur(2.67rem);
  border-radius: .67rem;
  margin: 0 0 3.33rem 0;
}

.metric .metric__graph {
  margin: 0 0 1.33rem 0;
}

.metric .metric__graph img {
  width: 100%;
  height: auto;
}

.metric .metric__value {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.83rem;
  line-height: 2.25rem;
  color: rgba(255, 255, 255, 0.8);
}

.metric .metric__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.67rem;
  color: rgba(255, 255, 255, 0.4);
}

.metric.metric-cpc .metric__value {
  font-size: 3.33rem;
  line-height: 4rem;
}

.metric.metric-kd .metric__graph {
  height: 1rem;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(rgba(30, 150, 0, 0.8)), color-stop(50.52%, rgba(255, 242, 0, 0.8)), to(rgba(255, 0, 0, 0.8)));
  background: linear-gradient(270deg, rgba(30, 150, 0, 0.8) 0%, rgba(255, 242, 0, 0.8) 50.52%, rgba(255, 0, 0, 0.8) 100%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.metric.metric-kd .metric__graph .metric__graph-mask {
  height: 1rem;
  background: -webkit-gradient(linear, right top, left top, color-stop(100%, #1E2633), color-stop(0%, rgba(30, 38, 51, 0)));
  background: linear-gradient(270deg, #1E2633 100%, rgba(30, 38, 51, 0) 0%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.navbar {
  position: absolute;
  top: 3.33rem;
  right: 0;
  z-index: 10;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar li {
  padding: 0 0.67rem;
  border-right: 0.33rem solid rgba(255, 255, 255, 0);
  text-align: right;
  margin: 0 0 .67rem 0;
}

.navbar li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.17rem;
}

.navbar li.active {
  border-right: 0.33rem solid white;
}

.navbar li.active a {
  color: white;
}

@media screen and (max-width: 992px) {
  .navbar ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar ul li {
    margin: 0 .67rem 0 0;
    padding: 0 .33rem;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  /* Search Input Styling */
}

.search .heading {
  margin: 0 0 .67rem 0;
}

.search .sub-heading {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 5rem 0;
}

.search .help-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.33rem;
  line-height: 1.83rem;
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.search .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .67rem 1.33rem;
  width: 50rem;
  height: 5rem;
  border-radius: .33rem;
  margin: 0 0 3.33rem 0;
  border-width: .08rem;
  border-style: solid;
  -o-border-image: linear-gradient(0.25turn, rgba(89, 145, 200, 0.6), rgba(89, 145, 200, 0.4)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(89, 145, 200, 0.6)), to(rgba(89, 145, 200, 0.4))) 1;
     border-image: linear-gradient(0.25turn, rgba(89, 145, 200, 0.6), rgba(89, 145, 200, 0.4)) 1;
}

.search .input-container input {
  height: 100%;
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 2.33rem;
  line-height: 2.83rem;
  color: #e1e1e1;
  outline: none;
}

.search .input-container input::-webkit-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input:-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input::-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input::placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input::focus {
  border: none;
  outline: none;
}

.search .input-container button {
  background: #109C72;
  -webkit-box-shadow: 0px 0.67rem 1.33rem -0.67rem rgba(23, 43, 77, 0.16);
          box-shadow: 0px 0.67rem 1.33rem -0.67rem rgba(23, 43, 77, 0.16);
  border-radius: .33rem;
  padding: 1.17rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.17rem 2rem;
  font-size: 1.17rem;
  line-height: 1.17rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.search .input-container button .icon {
  width: 1.67rem;
  height: 1.67rem;
  margin-right: .67rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  color: rgba(255, 255, 255, 0.8);
}

.btn .btn__icon {
  width: 1.17rem;
  height: 1.17rem;
  margin-right: .67rem;
}

.btn img {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn .btn__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: capitalize;
}

.btn:hover {
  color: white;
}

.graph {
  margin: 0 0 4rem 0;
  width: auto;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.graph.graph-visible {
  opacity: 1;
}

.col-right {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.col-right section {
  scroll-snap-align: center;
}

html {
  font-size: 1.1vh;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  color: #FFF;
  background: url("../img/Blob.svg"), #08090C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

body.slide-bg {
  background-position: 125% center;
}

.container {
  max-width: 94vw;
  margin: 0 auto;
  overflow: hidden;
  width: auto;
  position: relative;
}

.col {
  padding: 3.33rem 0;
}

.container .wrapper.scene-before-search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-auto-rows: minmax(10vh, 100vh);
}

.container .wrapper.scene-after-search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 10fr;
      grid-template-columns: 2fr 10fr;
  grid-column-gap: 1rem;
  grid-auto-rows: minmax(10vh, 100vh);
}

.ph {
  border-radius: 24px;
  padding: 16px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 16px;
  min-height: 16px;
}

#scene-after-search {
  display: none;
}

#scene-after-search.load {
  display: block;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.col-right {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  /* Hiding scrollbars */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.col-right::-webkit-scrollbar {
  display: none;
}

#plot-questions svg {
  width: 100%;
  height: 66.666667rem;
}

#plot-questions circle {
  fill: #1ab2f8;
}

#plot-questions path {
  fill: none;
  stroke: #FFF;
}

#plot-questions text {
  fill: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=interface.css.map */