@import "../../../global_sass/variables"

.navigation
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    padding: 2rem 0rem 0rem
    color: $white
    width: 100%

    .navigation-wrapper
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
        padding: 0
        width: 60%

    .navigation__item
        font-family: Inter
        font-style: normal
        font-weight: 500
        font-size: 1.25rem
        line-height: 1.5rem
        display: flex
        align-self: stretch
        align-items: center
        color: $white
