@import "../../../global_sass/variables.sass"

.section-secondary-relation
    background: #211B29
    color: $white
    position: relative
    z-index: 0

    .container
        align-items: center
        justify-content: center

    .wrapper