.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  /* Search Input Styling */
}

.search .heading {
  margin: 0 0 .67rem 0;
}

.search .sub-heading {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 5rem 0;
}

.search .help-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.33rem;
  line-height: 1.83rem;
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.search .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .67rem 1.33rem;
  width: 50rem;
  height: 5rem;
  border-radius: .33rem;
  margin: 0 0 3.33rem 0;
  border-width: .08rem;
  border-style: solid;
  -o-border-image: linear-gradient(0.25turn, rgba(89, 145, 200, 0.6), rgba(89, 145, 200, 0.4)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(89, 145, 200, 0.6)), to(rgba(89, 145, 200, 0.4))) 1;
     border-image: linear-gradient(0.25turn, rgba(89, 145, 200, 0.6), rgba(89, 145, 200, 0.4)) 1;
}

.search .input-container input {
  height: 100%;
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 2.33rem;
  line-height: 2.83rem;
  color: #e1e1e1;
  outline: none;
}

.search .input-container input::-webkit-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input:-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input::-ms-input-placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input::placeholder {
  color: rgba(225, 225, 225, 0.4);
}

.search .input-container input::focus {
  border: none;
  outline: none;
}

.search .input-container button {
  background: #109C72;
  -webkit-box-shadow: 0px 0.67rem 1.33rem -0.67rem rgba(23, 43, 77, 0.16);
          box-shadow: 0px 0.67rem 1.33rem -0.67rem rgba(23, 43, 77, 0.16);
  border-radius: .33rem;
  padding: 1.17rem 2rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.17rem 2rem;
  font-size: 1.17rem;
  line-height: 1.17rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.search .input-container button .icon {
  width: 1.67rem;
  height: 1.67rem;
  margin-right: .67rem;
}
/*# sourceMappingURL=search.css.map */