@import "../../../global_sass/variables.sass"

.section-hero
    background: url("../../../../public/assets/hero_bg.png")
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    color: $white
    
    .container
        align-items: center
        justify-content: center
        display: flex
        flex-direction: column

    .wrapper
        text-align: center

    .h1 
        margin: 0 0 .25rem 0

    .h4
        margin: 0 0 .25rem 0